<div class="container">
    <h2>Liste des produits</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prix</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency}}</td> 
          <td> <button (click)=" handelDelete(product)"  class="btn btn-outline-danger">Delete</button> </td> <!-- Condition sur la propriété "selected" -->
        </tr>
      </tbody>
    </table>
  </div>
  